@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    background: rgb(17, 16, 16);
}
section {
    height: 100%;
    width: 100%;
    position: absolute;
}
.container {
    display: none;
    transform: translateY(-100%) scale(0);
    transition: all .3s ease-in-out;
}
.active {
    display: block;
    animation: appear 1s ease-in-out;
    transform: translateY(0) scale(1);
}
@keyframes appear {
    0% {
        transform: translateY(-100%) scale(0);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}
nav {
    width: 100%;
    height: 10%;
    border-bottom: 2px solid rgb(255, 255, 255, .7);
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:0 3px 10px #000;
    background: #fff;
}
.logo,
 .end_bx {
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;

}
nav .logo img {
    width: 100px;
    object-fit: contain;
}
nav .end_bx ul {
    list-style: none;
    display: flex;
    align-items: center;
}
nav .end_bx ul li {
    margin: 0 30px;
    position: relative;
}
nav .end_bx ul li a {
    text-decoration: none;
    color: rgba(7, 0, 0, 0.7);
    font-size: 14px;
    font-family: 'poppins', sans-serif;
    transition: .3s linear;
}
nav .end_bx ul li:nth-child(4) {
    color: rgb(255, 255, 255, .7);
    font-size: 14px;
    font-family: 'poppins', sans-serif;
    transition: .3s linear;
    cursor: pointer;
}
nav .end_bx ul li:nth-child(4):hover {
    color: rgb(184, 184, 184, .7);
}
nav .end_bx ul li a:hover {
    color: rgb(184, 184, 184, .7);
}
nav .end_bx ul li:nth-child(4) .fa-solid {
    font-size: 12px;
    margin: 2px 0 0 3px;
    transition: .3s linear;
}
nav .end_bx ul li:nth-child(4):hover .fa-solid {
    /* transform: rotate(180deg); */
}

/* nav other list start */
nav .end_bx ul li .list {
    position: absolute;
    width: 100px;
    height: 150px;
    /* border: 1px solid #fff; */
    border-radius: 10px;
    background: rgba(10, 10, 10, 0.2);
    margin: 10px 3px 3px 10px;
    top: 22px;
    left: 0;
    z-index: 1;
    overflow: auto;
    transition: 1s linear;
    display: none;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    padding: 10px;
}
nav .end_bx ul li .list a {
    color: rgb(255, 255, 255, .8);
    font-size: 13px;
    font-family: 400;
}
nav .end_bx ul li .list a:hover {
    color: red;
}
nav .end_bx ul li .list::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(184, 184, 184, .1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    z-index: -1;
}
nav .end_bx ul li .list::after {
    content: '';
    position: absolute;
    border-right: 15px solid rgb(184, 184, 184, .1);
    z-index: -1;
}
/* nav other list end */
/* JavaScript classes nav other list start */
.end_bx ul .show_list .list {
    display: unset;
}
.end_bx ul .show_list i {
    transform: rotate(180deg);
}
nav .end_bx ul li .list_change {
    color: red;
}
/* JavaScript classes nav other list end */

nav .end_bx .search {
    position: relative;
    display: flex;
    align-items: center;
    color: rgb(8, 8, 8, .7);
}
nav .end_bx .search input {
    padding: 3px 0 3px 8px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: transparent;
    color: rgb(8, 8, 8, .7);
    transition: 1s linear;
    -webkit-transition: 1s linear;
    width: 0;
}
nav .end_bx .search i {
    color: rgb(8, 8, 8, .7);
    font-size: 13px;
    cursor: pointer;
    transition: 0.4s linear;
}
nav .end_bx .search i:hover {
    color: rgb(184, 184, 184, .7);
}
nav .end_bx .search .search-bx2 {
    position: absolute;
    width: 200px;
    height: 300px;
    /* border: 1px solid #fff; */
    top: 45px;
    left: 0%;
    background: rgb(184, 184, 184, .2);
    border-radius: 10px;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: .3s linear;
    z-index: 999;
}
nav .end_bx .search .search-bx2::-webkit-scrollbar {
    background: rgb(184, 184, 184, .3);
    border-radius: 20px;
}
nav .end_bx .search .search-bx2::-webkit-scrollbar-thumb {
    width: 7px;
    background: rgb(184, 184, 184, .7);
    border-radius: 20px;
}
nav .end_bx .search .search-bx2 a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 50px;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    transition: .3s linear;
}
nav .end_bx .search .search-bx2 a:hover {
    background: rgb(184, 184, 184, .6);
}
nav .end_bx .search .search-bx2 a img {
    width: 30px;
    height: 45px;
    border-radius: 5px;
    margin: 0 5px;
}
nav .end_bx .search .search-bx2 a .content2 {
    color: #fff;
}
nav .end_bx .search .search-bx2 a .content2 h6 {
    font-size: 13px;
}
nav .end_bx .search .search-bx2 a .content2 p {
    color: rgb(255, 255, 255, .7);
    font-size: 11px;
    font-weight: 500;
}

/* JavaScript classes start */

nav .end_bx .search .search_input {
    width: 180px;
}

/* JavaScript classes end */

nav .end_bx .bell {
    color: rgb(8, 8, 8, .7);
    font-size: 13px;
    cursor: pointer;
    transition: .3s linear;
    margin: 0 35px;
}
nav .end_bx .bell:hover {
    color: rgb(184, 184, 184, .7); 
}
nav .end_bx .user {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
}
nav .end_bx .user img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

header {
    position: relative;
    width: 100%;
    height: 500px;
    background: url(img/theundergroundrailroad.jpeg)no-repeat center center/cover;
    transition: 1s linear;
    z-index: 2;
}
header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 40%;
    background: linear-gradient(0deg, rgb(17, 16, 16), transparent);
    bottom: 0;
    left: 0;
    z-index: -1;
}
header::after {
    content: '';
    position: absolute;
    width: 30%;
    height: 100%;
    background: linear-gradient(90deg, rgb(17, 16, 16), transparent);
    top: 0;
    left: 0;
    z-index: -1;
}
header .content {
    width: 77%;
    height: auto;
    /* border: 1px solid #fff; */
    margin: 0 auto 0 auto;
}
header .content h6 {
    color: #fff;
    font-size: 13px;
    transition: 1s linear;
}
header .content h6 span {
    color: rgb(255, 255, 255, .8);
}
header .content h3 {
    color: rgb(255, 255, 255, .8);
    font-size: 15px;
    margin: 10px 0;
    transition: 1s linear;
}
header .content h3 i {
    color: rgb( 255, 255, 0);
    font-size: 12px;
    margin-right: 3px;
}
header .content h3 span {
    font-size: 12px;
    margin-left: 3px;
    transition: 1s linear;
}
header .content h1 {
    color: #fff;
    font-size: 45px;
    margin-bottom: 10px;
    transition: 1s linear;
}
header .content p {
    width: 500px;
    word-break: break-all;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
    transition: 1s linear;
}
header .content .btns {
    display: flex;
    align-items: center;
}
header .content .btns button {
    padding: 6px 12px;
    border-radius: 20px;
    background: red;
    border: 2px solid red;
    color: #fff;
    margin: 10px;
    font-family: 'poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    box-shadow: 0 3px 10px red;
    transition: 0.3s linear;
    cursor: pointer;
    z-index: 999;
}
header .content .btns button:nth-child(2) {
    border: 2px solid #000;
    color: #fff;
    background: #000;
    box-shadow: 0 3px 10px #000;
}
header .content .btns button:hover {
    border: 2px solid #000;
    color: #fff;
    background: #000;
    box-shadow: 0 3px 10px #000;
}
header .content .btns button:nth-child(2):hover {
    border: 2px solid red;
    color: #fff;
    background: red;
    box-shadow: 0 3px 10px red;
}
header .content .btns button .fa-solid {
    margin-right: 5px;
}
header .slider_btns {
    position: absolute;
    width: 300px;
    height: 50px;
    /* border: 1px solid #fff; */
    bottom: 0;
    left: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .slider_btns h6 {
    width: 30px;
    height: 3px;
    margin-right: 5px;
    transition: 1s linear;
    background: rgb(184, 184, 184, .1);
}
header .slider_btns h6:nth-child(1) {
    background: #fff;
}
.trending_bx {
    width: 90%;
    height: auto;
    border-bottom: 2px solid rgb(184, 184, 184, .1);
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.trending_bx li {
    list-style: none;
    transition: .3s linear;
}
.trending_bx li a {
    text-decoration: none;
    color: rgb(255, 255, 255, .7);
    font-size: 13px;
    transition: .3s linear;
    position: relative;
}
.trending_bx li a:hover {
    color: #fff;
}
.trending_bx li .fa-solid {
    margin-right: 5px;
}
.trending_bx li a span {
    position: absolute;
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    bottom: -10px;
    left: 45%;
}

/* trending box active classes start */
.trending_bx li .active {
    font-size: 15px;
    color: #fff;
}
.trending_bx li .active span {
    background: red;
}
/* trending box active classes end */

/* category box start */
.cato-bx {
    position: relative;
    width: 90%;
    height: auto;
    margin: auto;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    padding: 20px 40px 20px 0;
    overflow: auto;
    scroll-behavior: smooth;
    z-index: 999;
}
.cato-bx::-webkit-scrollbar {
    display: none;
}
.cato-bx button {
    padding: 4px 30px;
    background: red;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 20px;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin-right: 10px;
    cursor: pointer;
    transition: .3s linear;
}
.cato-bx button:hover {
    background: rgb(184, 184, 184, .1);
}
.cato-bx .cato_left_right {
    position: sticky;
    right: 1.5%;
    bottom: 0;
    color: #fff;
    cursor: pointer;
}
.cato-bx .cato_left_right:nth-last-child(1) {
    right: 0%;
}
.cato-bx .cato_left_right i {
    transform: rotate(90deg);
    transition: .3s linear;
}
.cato-bx .cato_left_right:nth-last-child(1) i {
    transform: rotate(-90deg);
}

/* cato button JavaScript class start  */
.cato-bx .cato_button_active {
    background: rgb(184, 184, 184, .2);
}
/* cato button JavaScript class end  */

.film-bx-1 {
    position: relative;
    width: 100%;
    height: 260px;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
}
.film-bx-1::-webkit-scrollbar {
    display: none;
}

/* film extra box  */
.film-bx-1 .film-bxx {
    display: flex;
    align-items: center;
    width: 200px;
    height: 100%;
    /* border: 1px solid #fff; */
}

/* film extra box JavaScript class start  */
.film-bx-1 .film_box_active {
    display: none;
}
/* film extra box JavaScript class end  */

.film-bx-1 .card {
    min-width: 140px;
    height: 250px;
    /* border: 1px solid #fff; */
    margin: 0 7px;
}
.film-bx-1 .card:nth-last-child(1) {
    margin:  0 5px 0 0;
}
.film-bx-1 .card a {
    text-decoration: none;
    color: #fff;
}
.film-bx-1 .card a img {
    width: 100%;
    height: 80%;
    border-radius: 8px;
}
.film-bx-1 .card a .content {
    width: 100%;
    height: 15%;
    /* border: 1px solid #fff; */
    margin-top: 5px;
}
.film-bx-1 .card a .content h5 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
    font-size: 12px;
}
.film-bx-1 .card a .content h6 {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.film-bx-1 .card a .content h6 span {
    color: rgb(255, 255, 255, .6);
    font-weight: lighter;
}
.film-bx-1 .card a .content h6 .rate {
    display: flex;
    align-items: center;
}
.film-bx-1 .card a .content h6 .rate .fa-solid {
    margin-right: 7px;
    font-size: 9px;
    color: rgb(255, 255, 255, .5);
}
.film-bx-1 .card a .content h6 .rate .fa-solid:nth-last-child(2) {
    margin: 1px;
    color: yellow;
}
.film-bx-1 .card a .content h6 .rate h6 {
    color: yellow;
    margin-top: 3px;
    font-size: 11px;
    height: 5px;
}
.film-bx-1 button {
    position: sticky;
    border: none;
    outline: none;
    color: #fff;
    background: none;
    left: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 999;
}
.film-bx-1 button::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: rgb(255, 255, 255, .5);
    border-radius: 50%;
    left: -5px;
    top: -1px;
    z-index: -1;
    transition: .3s linear;
}
.film-bx-1 button:hover::before {
    background: rgb(255, 0, 0, .5);
}
.film-bx-1 button:nth-child(2) {
    left: 98%;
}
.film-bx-1 button:nth-child(1) {
    transform: rotate(90deg);
}
.film-bx-1 button:nth-child(2) i {
    transform: rotate(-90deg);
}
.film-bx-1 button:nth-child(2)::before {
    left: -7px;
    top: -1px;
}
.film-bx-2 {
    width: 90%;
    height: auto;
    margin: auto;
    overflow: unset;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
.film-bx-2 .card {
    width: 140px;
    margin: 10px auto;
}
/* film box2 start  */
.all,
.latest,
.year,
.letter,
.rate-change {
    width: 100%;
    height: auto;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.box2-actives {
    display: flex;
}
/* film box2 end  */

/* video box start */
.video-bx {
    position: relative;
    width: 90%;
    height: 600px;
    /* border: 1px solid #fff; */
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-bx video {
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 20px;
}
.video-bx .controls {
    position: absolute;
    width: 90%;
    height: 40px;
    background: #131312;
    /* border: 1px solid #fff; */
    border-radius: 20px;
    bottom: 10px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}
.video-bx .controls .play-redo  {
    position: relative;
    width: 60px;
    height: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.video-bx .controls .play-redo .fa-solid  {
    font-size: 22px;
    cursor: pointer;
}
.video-bx .controls .play-redo .fa-solid:nth-child(2)  {
    transform: scaleX(-1);
}
.video-bx .controls .play-redo span  {
    position: absolute;
    color: #fff;
    font-size: 7px;
    top: 14px;
    right: 8px;
    z-index: -1;
}
.video-bx .controls .start-seekbar-end {
    width: 85%;
    height: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s linear;
}
.video-bx .controls .start-seekbar-end span {
    color: rgb(255, 255, 255, .7);
    font-size: 13px;
    margin: 0 10px;
    width: 55px;
    text-align: center;
}
.video-bx .controls .start-seekbar-end .seek {
    position: relative;
    width: 85%;
}
.video-bx .controls .start-seekbar-end .seek input {
    width: 100%;
    margin-top: 7px;
    cursor: pointer;
    opacity: 0;
}
.video-bx .controls .start-seekbar-end .seek h5 {
    position: absolute;
    width: 50%;
    height: 8px;
    background: red;
    border-radius: 20px;
    top: 11px;
    transition: 1s linear;
    z-index: -1;
    opacity: 1;
}
.video-bx .controls .start-seekbar-end .seek h4 {
    position: absolute;
    width: 100%;
    height: 8px;
    background: rgb(184, 184, 184, .2);
    border-radius: 20px;
    top: 11px;
    transition: 1s linear;
    z-index: -1;
}
.video-bx .controls .start-seekbar-end .seek h6 {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    top: 8.5px;
    left: 50%;
    transition: 1s linear;
    z-index: -1;
    margin-left: -5px;
}
.video-bx .controls .cc-vol-screen {
    position: relative;
    width: 100px;
    height: 100%;
    /* border: 1px solid #fff; */
    transition: 1s linear;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.video-bx .controls .cc-vol-screen .fa-solid {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.video-bx .controls .cc-vol-screen .fa-solid:nth-child(4) {
    font-size: 17px;
}
.video-bx .controls .cc-vol-screen input {
    width: 0px;
    opacity: 0;
    transition: 1s linear;
}
.video-bx .controls .cc-vol-screen input[type="range"] {
    -webkit-appearance: none;
    background: red;
    border-radius: 20px;
    height: 7px;
}
.video-bx .controls .cc-vol-screen input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #fff;
    width: 10px;
    height: 7px;
    border-radius: 50%;
}

/* JavaScript classes start */
.video-bx .controls .cc_vol {
    width: 230px;
}
.video-bx .controls .cc-vol-screen .input_vol {
    width: 130px;
    opacity: 1;
}
.video-bx .controls .start_seekbar {
    width: 70%;
}
/* JavaScript classes end */

.video-bx .video-title {
    position: absolute;
    top: 2%;
    left: 2%;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    z-index: 999;
}
.video-bx .watching {
    position: absolute;
    top: 7%;
    left: 2%;
    color: rgb(255, 255, 255, .6);
    font-size: 13px;
    z-index: 999;
}
.video-bx .watching i {
    font-size: 13px;
    margin-right: 3px;
}
.video-bx .heart-plus {
    position: absolute;
    top: 2%;
    right: 2%;
    color: #fff;
    font-size: 16px;
    z-index: 999;
    cursor: pointer;
}
.video-bx .heart-plus:nth-child(2) {
    margin-left: 20px;
}
.video-bx .video-list {
    position: absolute;
    width: 100px;
    height: 300px;
    /* border: 1px solid #fff; */
    top: 25%;
    left: 2%;
    transition: .6s linear;
}
.video-bx:hover .video-list {
    opacity: 1;
}
.video-bx .video-list img {
    width: 100px;
    height: 70px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    border: 1px solid rgb(255, 255, 255, .6);
}
.cato-bx2 {
    position: relative;
    overflow: visible;
    height: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
.cato-bx2 .left-cato button:nth-child(1) {
    background: none;
}
.cato-bx2 .left-cato button i {
    margin-left: 10px;
    transform: .3s linear;
}
.cato-bx2 .left-cato button:nth-child(4), 
button:nth-child(5) {
    padding: 4px 15px;
    position: relative;
    background: rgb(184, 184, 184, .1);
}
.cato-bx2 .right-cato {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cato-bx2 .right-cato i {
    color: yellow;
    font-size: 13px;
    margin-right: 5px;
}
.cato-bx2 .right-cato input[type="range"] {
    -webkit-appearance: none;
    background: red;
    border-radius: 20px;
    height: 7px;
}
.cato-bx2 .right-cato input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #fff;
    width: 10px;
    height: 7px;
    border-radius: 50%;
}
.cato-bx2 .right-cato span {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
}
.cato-bx2 button .year-bx {
    position: absolute;
    width: 80px;
    height: 200px;
    /* border: 1px solid #fff; */
    background: rgb(8, 8, 8, .7);
    border-radius: 10px 3px 3px 10px;
    top: 35px;
    left: 0;
    z-index: 999;
    overflow: auto;
    transition: 1s linear;
    display: none;
}
.cato-bx2 button .year-bx::-webkit-scrollbar {
    background: transparent;
    width: 7px;
}
.cato-bx2 button .year-bx::-webkit-scrollbar-track {
    background: rgb(184, 184, 184, .4);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}
.cato-bx2 button .year-bx::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 20px;
}
.cato-bx2 button .year-bx li {
    list-style: none;
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
    color: #fff;
    transition: .3s linear;
}
.cato-bx2 button .year-bx li:hover {
    color: red;
}
.cato-bx2 button .letter-bx {
    width: 40px;
}
.cato-bx2 button .letter-bx li {
    font-size: 16px;
    font-weight: 600;
}

/* JavaScript classes start */
.cato-bx2 .show_year1 .year-bx {
    display: unset;
}
.cato-bx2 .show_year1 i {
    transform: rotate(180deg);
}
.cato-bx2 button .year-bx .li_change {
    color: red;
}
/* JavaScript classes end */

/* films page  */ /* films page  */ /* films page  */ /* films page  */ /* films page  */
.filmPage {
    position: relative;
    width: 95%;
    height: auto;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    scroll-behavior: smooth;
}
.filmPage .card {
    width: 140px;
    height: 250px;
    /* border: 1px solid #fff; */
    margin: 0 7px;
}
/* #films .card:nth-last-child(1) {
    margin:  0 5px 0 0;
} */
.filmPage .card a {
    text-decoration: none;
    color: #fff;
}
.filmPage .card a img {
    width: 100%;
    height: 80%;
    border-radius: 8px;
}
.filmPage .card a .content {
    width: 100%;
    height: 15%;
    /* border: 1px solid #fff; */
    margin-top: 5px;
}
.filmPage .card a .content h5 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
    font-size: 12px;
}
.filmPage .card a .content h6 {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.filmPage .card a .content h6 span {
    color: rgb(255, 255, 255, .6);
    font-weight: lighter;
}
.filmPage .card a .content h6 .rate {
    display: flex;
    align-items: center;
}
.filmPage .card a .content h6 .rate .fa-solid {
    margin-right: 7px;
    font-size: 9px;
    color: rgb(255, 255, 255, .5);
}
.filmPage .card a .content h6 .rate .fa-solid:nth-last-child(2) {
    margin: 1px;
    color: yellow;
}
.filmPage .card a .content h6 .rate h6 {
    color: yellow;
    margin-top: 3px;
    font-size: 11px;
    height: 5px;
}

/* Series page  */
.seriesPage {
    position: relative;
    width: 95%;
    height: auto;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    scroll-behavior: smooth;
}
.seriesPage .card {
    width: 140px;
    height: 250px;
    /* border: 1px solid #fff; */
    margin: 0 7px;
}
/* #series .card:nth-last-child(1) {
    margin:  0 5px 0 0;
} */
.seriesPage .card a {
    text-decoration: none;
    color: #fff;
}
.seriesPage .card a img {
    width: 100%;
    height: 80%;
    border-radius: 8px;
}
.seriesPage .card a .content {
    width: 100%;
    height: 15%;
    /* border: 1px solid #fff; */
    margin-top: 5px;
}
.seriesPage .card a .content h5 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
    font-size: 12px;
}
.seriesPage .card a .content h6 {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.seriesPage .card a .content h6 span {
    color: rgb(255, 255, 255, .6);
    font-weight: lighter;
}
.seriesPage .card a .content h6 .rate {
    display: flex;
    align-items: center;
}
.seriesPage .card a .content h6 .rate .fa-solid {
    margin-right: 7px;
    font-size: 9px;
    color: rgb(255, 255, 255, .5);
}
.seriesPage .card a .content h6 .rate .fa-solid:nth-last-child(2) {
    margin: 1px;
    color: yellow;
}
.seriesPage .card a .content h6 .rate h6 {
    color: yellow;
    margin-top: 3px;
    font-size: 11px;
    height: 5px;
}

/* Trends page  */
.trendsPage {
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    background: #fff;
}

/* Popular page  */
.popularPage {
    background: #fff;
}

/* Recently Added page  */
.recentlyAddedPage {
    background: #fff;
}

/* Preferences Page */
.preferencesPage {
    background: #fff;
}

/* Nollywood page  */
.nollywoodPage {
    background: #fff;
}

/* Hollywood page  */
.hollywoodPage {
    background: #fff;
}

/* videoPage */

